/* Hover effect for image thumbnails */
.m-2:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

/* Main image grid for the gallery */
.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 cột */
  grid-gap: 10px; /* Khoảng cách giữa các ảnh */
  justify-items: center; /* Căn giữa các ảnh */
  padding: 10px;
}

.image-grid .card {
  width: 100%;
  background-color: transparent !important; /* Loại bỏ màu nền mặc định */
}
.image-grid .card:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Nền mờ với độ trong suốt */
  backdrop-filter: blur(200px);
}
.image-grid .card img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  transition: transform 0.3s ease; /* Tạo hiệu ứng mượt cho hover */
}

.image-grid .card img:hover {
  transform: scale(1.05); /* Phóng to nhẹ khi hover */
}

/* Modal chỉnh kích thước */
.modal-dialog {
  max-width: 100%;
  margin: 0; /* Loại bỏ khoảng cách ngoài cho modal */
}

.modal-content {
  height: 100vh; /* Fullscreen height */
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Nền mờ cho card-body */
.card-body {
  background-color: transparent !important;
  text-align: start;
}

/* Thay đổi màu văn bản trong card */
.card-body .card-title,
.card-body .card-text {
  color: #fff; /* Màu văn bản trắng */
}

/* Background image for the entire app */
.bg-image {
  background-image: url("D:\downloads\Git\FPIC\FPIC\fontend\fpic\public\imgconst\pexels-rostislav-5011647.jpg"); /* Sử dụng đường dẫn tương đối */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Nền cố định khi cuộn */
  min-height: 100vh; /* Chiều cao tối thiểu cho trang */
  padding: 0;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 cột cho màn hình nhỏ */
  }

  .image-grid .card {
    width: 100px;
  }
}

/* App container */
.App {
  margin-top: 50px;
  transition: margin-left 0.3s ease; /* Hiệu ứng thu nhỏ */
}

/* App container */
.App {
  margin-top: 50px;
  transition: margin-left 0.3s ease; /* Hiệu ứng thu nhỏ */
}
.pagination {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}
.pagination input {
  width: 50px;
}
.pagination .col-3 {
  display: flex;
  justify-content: center;
}
.btn-custom svg {
  margin: 0;
}
