.searchBox {
    display: flex;
    align-items: center;
    background: greenyellow;
    height: 45px;
    border-radius: 40px;
    padding: 7.5px;
  }
  .searchBox:hover {
    background: none;
    border: 3px solid greenyellow;
  }
  .searchBox:hover > .searchInput{
    width: 240px;
    padding: 0 6px;
  }
  .searchBox:hover > .searchButton{
    background: white;
    color: #2f3640;
  }
  .searchButton {
    color: #2f3640;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(135deg, #888888, black) border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: 2px solid transparent;
    box-shadow: none;
    cursor: pointer;
  }
  .searchInput{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #2f3640;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
  @media screen and (max-width: 620px){
    .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
    }
  } 
  